<form action="/agregarunusuario" method="post">
    <label for="cuil_cuit"> Cui_cuit</label>
    <input type="text" name="cuil_cuit" id="cuil_cuit">

    <label for="password">Contraseña</label>
    <input type="text" name="password" id="cuil_cuit">

    <label for="cuil_cuit">Nombre</label>
    <input type="text" name="nombre" id="cuil_cuit">

    <label for="nivel">Nivel</label>
    <select name="nivel" class="custom-select" id="Nivel" required>
        <option>1</option>
        <option>2</option>
      </select>
    <label for="mail">Correo</label>
    <input type="text" name="mail" id="cuil_cuit">
    
    <button class="btn" >Enviar</button>
 



</form>