
    <div class="container p-4" style="width: 100%;">
        <div class="row">
            <div class="col mx-4 col-md-4">
                <div class="card  ">
                    <div class="card-body">
                        <form action="/cuotas/add" method="POST">
                            <div class="form-group">
                                <label for="exampleFormControlFile1">cuil/cuit</label>
                                <input type="int" name="cuil_cuit" class="form-control" placeholder="cuil_cuit Cliente">
                            </div>
                            <label for="exampleFormControlFile1">Saldo inicial</label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="saldo_inicial" placeholder="Saldo_inicial"
                                    autofocus> {{!-- autofocus: aparece ya seleccionado el cursor para ingresar form
                                group para separar --}}
                            </div>
                            <label for="exampleFormControlFile1">Saldo Cierre</label>
                            <div class="form-group">
                                <input type="text" name="saldo_cierre" class="form-control" placeholder="Saldo Cierre">
                            </div>
                            <label for="exampleFormControlFile1">Monto</label>
                            <div class="form-group">
                                <input type="text" name="monto" class="form-control" placeholder="Monto">
                            </div>
                            <label for="exampleFormControlFile1">Lote</label>
                            <div class="form-group">
                                <input type="text" name="lote" class="form-control" placeholder="Lote">
                            </div>
                            <div class="form-group">
                                <button class="tbn btn-primary btn-block"> Guardar</button>
                            </div>
                        </form>
                        </card-body>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </tr>
    <div class="container p-4">
        <div class="card-header">
						<h3>  Añadir automticamente</h3>
					</div>
        <div class="row">
            <div class="col-md-4 ">
                <div class="card mx-4 x-auto ">
                    <div class="card-body">
                        <form action="/cuotas/addaut" method="POST">
                            <div class="form-group">
                                <input type="integer" name="cuil_cuit" class="form-control"
                                    placeholder="cuil_cuit cliente">
                            </div>
                            <div class="form-group">
                                <input type="integer" class="form-control" name="monto_total" placeholder="monto_total"
                                    autofocus> {{!-- autofocus: aparece ya seleccionado el
                                cursor para ingresar form group para separar --}}
                            </div>
                            <div class="form-group">
                                <input type="integer" name="cantidad_cuotas" class="form-control"
                                    placeholder="cantidad_cuotas">
                            </div>
                        
                            <label for="exampleFormControlFile1">Lote</label>
                            <div class="form-group">
                                <input type="text" name="lote" class="form-control" placeholder="Lote">
                            </div>
                            <div class="form-group">
                                <button class="tbn btn-primary btn-block"> Guardar</button>
                            </div>
                        </form>
                        </card-body>
                    </div>
                </div>
            </div>
        </div>
    </div>
