<div class="container">
    <form action="/cuotas/agregariccgral" method="post">
        
        <div class="form-group">
            <label for="correo" class="formulario__label">ICC</label>
            <input type="text" name="ICC" value="{{cuil_cuit}}" class="form-control" >
        </div>
        <div class="form-group">
            <label for="correo" class="formulario__label">Mes</label>
            <input type="text" name="mes" value="{{nro_cuota}}" class="form-control" >
        </div>
        <div class="form-group">
            <label for="correo" class="formulario__label">Anio</label>
            <input type="text" name="anio" value="{{ICC}}" class="form-control" placeholder="Nombre de usuario">
        </div>

        <div class="form-group">
            <button class="btn btn-primary "> Guardar</button>
        </div>

    </form>
</div>