<div class="container">
    <form action="/nivel3/agregariccgral" method="post">
        
        <div class="form-group">
            <label for="correo" class="formulario__label">ICC</label>
            <input type="text" name="ICC"  class="form-control" >
        </div>
        <div class="form-group">
            <label for="correo" class="formulario__label">Mes</label>
            <input type="text" name="mes"  class="form-control" >
        </div>
        <div class="form-group">
            <label for="correo" class="formulario__label">Anio</label>
            <input type="text" name="anio" class="form-control" >
        </div>

        <div class="form-group">
            <button class="btn btn-primary "> Guardar</button>
        </div>

    </form>
</div>