

    <header class="masthead dflex">
        <body background="./img/fondo.jpg" style="display: grid; width:100%">
            
       
        <div class="container text-center my-auto">
            <h1 class="mb-1"> Sistema de gestion de pagos  </h1>
            <h3 class"mb-5"> 
                <em>Verifica tus pagos</em>

            </32>
            <a href="/signin" class="btn btn-primary"> comenzar </a>

        </div>
     </body>

    </header>



</main>

