<body style="background-image:url('/chillaid/images/demo/backgrounds/fondosc.jpeg');">
    

{{#if pagos_p }}
<div class="alert alert-primary" role="alert">
    Existen nuevas aprobaciones de pagos <a href="/pagos/pendientes" class="alert-link">ir a Aprobaciones</a>
</div>
{{/if}}

{{#if constancias_p }}
<div class="alert alert-primary" role="alert">
    Existen nuevas aprobaciones de comprobantes pendientes <a href="/aprobaciones" class="alert-link">ir a
        Aprobaciones</a>
</div>
{{/if}}

{{#if cbus }}
<div class="alert alert-primary" role="alert">
    Existen nuevas aprobaciones de comprobantes pendientes <a href="/aprobaciones/cbu" class="alert-link">ir a
        Aprobaciones de CBUS</a>
</div>

{{/if}}
{{#if chats }}
<div class="alert alert-primary" role="alert">
    Existen nuevas Mensajes nuevos <a href="/chats/noleidos" class="alert-link">mensajes no leidos</a>
</div>

{{/if}}




<div class="bgded overlay light" style="background-image:url('images/demo/backgrounds/01.png');">
  <section id="services" class="hoc container clear"> 

    <ul class="nospace group elements elements-three">
      <li class="one_third">
        <article><a href="/links/clientes/todos"><i class="fas fa-search"></i></a>
          <h6 class="heading">Ver clientes</h6>
        </article>
      </li>
      <li class="one_third">
        <article><a href="links/clientes"><i class="fas fa-search"></i></a>
          <h6 class="heading">Buscar cliente</h6>
        </article>
      </li>
      <li class="one_third">
        <article><a href="/lotes/listadetodos"><i class="fas fa-dollar-sign"></i></a>
          <h6 class="heading">Lotes</h6>
        </article>
      </li>
      <li class="one_third">
        <article><a href="/pagos/pendientes"><i class="fas fa-university"></i></a>
          <h6 class="heading">Aprobaciones de pagos</h6>
        </article>
      </li>
      <li class="one_third">
        <article><a href="aprobaciones/cbu"><i class="fas fa-clipboard-check"></i></a>
          <h6 class="heading">Aprobaciones de CBU</h6>
        </article>
      </li>
      <li class="one_third">
        <article><a href="/aprobaciones"><i class="fas fa-user-check"></i></a>
          <h6 class="heading">Aprobacion de legajos</h6>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
</body>


        
        {{!-- <div class="container m-4">
            <div class="row">
                <div class="col-md-4 mk-auto">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3>Bienvenido {{ user.nombrecompleto }}</h3>
                            <h4>{{ user.usuario }}</h4>
                            <a href="/links/clientes" class="btn btn-primary m-4">
                                Ve a clientes
                            </a>
                            <a href="/cuotas" class="btn btn-primary m-4">
                                Ve a cuotas
                            </a>
                            <a href="/pagos" class="btn btn-success m-4">
                                pagos
                            </a>
                            <a href="/pagos/pendientes" class="btn btn-success m-4">
                                aprobaciones de pagos
                            </a>
                            <a href="/aprobaciones" class="btn btn-success m-4">
                                aprobacion de legajos
                            </a>
                            <a href="/aprobaciones/cbu" class="btn btn-success m-4">
                                aprobacion CBU
                            </a>

                            <a href="/cuotas/agregariccgral" class="btn btn-success m-4">
                                Agregar ICC
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div> --}}