

<input type="text" name="" id="uno" value="4">


 <button type="boton" id="miboton" >boton</button>


 <div class ="oculto" id = "valido">
 <h3 > Ess</h3>
 </div>
<h3 class ="oculto">no es</h3>
<br><br><br><br>
<script src="/verificacionc.js"></script>











