

<div class="container">
  <div class="row">
    <div class="col-6">
    <ul class="nospace group elements elements-three">
        <article><a href="#"><i class="fas fa-hourglass-half"></i></a>
          <h6 class="heading">cuotas</h6>
          <p>dame la plata
  <div class="row">
    <div class="col-6">
    <ul class="nospace group elements elements-three">
  
        <article><a href="#"><i class="fas fa-hourglass-half"></i></a>
          <h6 class="heading">cuotas</h6>
          <p>dame la plata
    
    
    </div>
  </div>
</div>
</ul>














