<div class="bgded overlay" style="background-image:url('/chillaid/images/demo/backgrounds/01.png');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/usuario1/legajo">Datos de la sociedad</a></li>
            <li><a href="/usuario1/ingresos">Ingresos declarados</a></li>
            <li><a href="/usuario1/infocbu">CBUS declarados</a></li>
            <li><a href="/usuario1/djs">Declaraciones Juradas</a></li>
            <li><a href="/usuario1/contacto">Contacto</a></li>
            <li><a href="/usuario1/">Datos adicionales</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<section id="services" class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
        <p class="nospace font-xs"></p>
        <h6 class="heading font-x2">Editar datos personales</h6>
    </div>
    <ul class="nospace group elements elements-three">
        <li class="one_third">
            <article><a href="#"><i class="fas fa-hourglass-half"></i></a>
                <form action="/usuario1/edit_correo" method="POST" id="formulario">

            <div class="formulario__grupo" id="grupo__correo">
                <label for="correo" class="formulario__label">Correo Electrónico</label>
                <div class="formulario__grupo-input">
                    <input type="email" class="formulario__input" name="correo" id="correo"
                        placeholder="correo@correo.com">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y
                    guion
                    bajo.
                </p>
            </div>


            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                    correctamente.
                </p>
            </div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Guardar</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!
                </p>
            </div>

        </form>
            </article>
        </li>

        <li class="one_third">
            <article><a href="#"><i class="fas fa-paw"></i></a>
                
                <form action="/usuario1/edit_tel" method="POST" id="formulario">
            <div class="formulario__grupo" id="grupo__telefono">
                <label for="telefono" class="formulario__label">Teléfono</label>
                <div class="formulario__grupo-input">
                    <input type="integer" class="formulario__input" name="tel" id="tel" placeholder="4491234567">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14
                    dígitos.</p>
            </div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn_edit">Guardar</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado
                    exitosamente!</p>
            </div>


        </form>

            </article>
        </li>
      
        
    </ul>
    <!-- ################################################################################################ -->
</section>
