<div class="bgded overlay" style="background-image:url('/chillaid/images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="/usuario1/legajo">Datos de la sociedad</a></li>
      <li><a href="/usuario1/ingresos">Ingresos declarados</a></li>
      <li><a href="/usuario1/infocbu">CBUS declarados</a></li>
      <li><a href="/usuario1/djs">Declaraciones Juradas</a></li>
      <li><a href="/usuario1/contacto">Contacto</a></li>
      <li><a href="/usuario1/">Datos adicionales</a></li>
    
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>


<section id="services" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">Quis leo hendrerit lectus morbi</p>
      <h6 class="heading font-x2">Justo mauris tempus pharetra</h6>
    </div>
    <ul class="nospace group elements elements-three">
      <li class="one_third">
        <article><a href="#"><i class="fas fa-hourglass-half"></i></a>
          <h6 class="heading">Sociis natoque penatibus</h6>
          <p>Interdum at congue semper purus nullam quis odio id justo accumsan ullamcorper maecenas vel arcu nulla tincidunt elit ornare.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-paw"></i></a>
          <h6 class="heading">Magnis parturient montes</h6>
          <p>Urna proin venenatis eros viverra ultrices fringilla lectus urna consequat erat eget scelerisque ligula felis nec neque nam.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-sliders-h"></i></a>
          <h6 class="heading">Nascetur ridiculus aenean</h6>
          <p>Vitae ipsum vitae velit porttitor aliquam in quam aliquam ullamcorper sem a auctor dapibus nisi nunc vehicula nunc quis mattis.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-tty"></i></a>
          <h6 class="heading">Ullamcorper neque phasellus</h6>
          <p>Pede turpis at elit nunc at urna sed ligula vivamus vel erat at diam imperdiet pharetra quisque justo turpis mattis ut vitae.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-table"></i></a>
          <h6 class="heading">Aliquet lacus nulla erat</h6>
          <p>Tortor aenean leo ipsum elementum non cursus eu interdum ut risus proin risus nibh viverra eget lobortis feugiat egestas in nisl.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-hand-holding-usd"></i></a>
          <h6 class="heading">Aliquam volutpat curabitur</h6>
          <p>Fusce dignissim neque vitae justo aenean ac urna et leo posuere pretium nunc bibendum enim quis imperdiet elementum dui dolor.</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>



<div class="alinear">
  <nav id="menuizquierda">
    <div class="encabezado">
  
    </div>

    <ul class="list-unstyled">
      <li><a href="/usuario1/legajo">Datos de la Persona</a></li>
      <li><a href="/usuario1/ingresos">Ingresos declarados</a></li>
      <li><a href="/usuario1/infocbu">CBUS declarados</a></li>
      <li><a href="/usuario1/djs">Declaraciones Juradas</a></li>
      <li><a href="/usuario1/contacto">Contacto</a></li>
      <li><a href="/usuario1/">Datos adicionales</a></li>
    </ul>
  </nav>
  <div class="container">
    <h2>Ingresos declarados</h2>

        <form action="/usuario1/edit_comp_balance" method="POST" class="formulario" id="formulario">

      <div>
        <label for="exampleFormControlFile1">
          <h3>Subir los 2 ultimos balances </h3>
        </label>
        <div class="formulario__grupo-input">
          <input type="file" class="form-control-file" id="comprobante" name="comprobante">
          <i class="formulario__validacion-estado fas fa-times-circle"></i>
        </div>
         <div class="formulario__grupo-input">
          <input type="file" class="form-control-file" id="comprobante2" name="comprobante2">
          <i class="formulario__validacion-estado fas fa-times-circle"></i>
        </div>

      </div>
      <div class="formulario__grupo formulario__grupo-btn-enviar">
        <button type="submit" class="formulario__btn">Guardar</button>
        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
      </div>

    </form>
    
<form action="/usuario1/edit_comp_djiva" method="POST" class="formulario" id="formulario">
      <div>
        <label for="exampleFormControlFile1">
          <h3>Subir las ultimas 3  DJs de IVA </h3>
        </label>
        <div class="formulario__grupo-input">
          <input type="file" class="form-control-file" id="comprobante" name="comprobante">
         
        </div>
         <div class="formulario__grupo-input">
          <input type="file" class="form-control-file" id="comprobante2" name="comprobante2">
        
        </div>
        <div class="formulario__grupo-input">
          <input type="file" class="form-control-file" id="comprobante3" name="comprobante3">
        
        </div>

      </div>
      <div class="formulario__grupo formulario__grupo-btn-enviar">
        <button type="submit" class="formulario__btn">Guardar</button>
        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
      </div>
  </form>

    <form action="/usuario1/edit_comp_djpagosprov" method="POST" class="formulario" id="formulario">

      <div>
        <label for="exampleFormControlFile1">
          <h3>Subir los ultimos 3 pagos provisionales  </h3>
        </label>
        <div class="formulario__grupo-input">
          <input type="file" class="form-control-file" id="comprobante" name="comprobante">
         
        </div>
         <div class="formulario__grupo-input">
          <input type="file" class="form-control-file" id="comprobante2" name="comprobante2">
        
        </div>
        <div class="formulario__grupo-input">
          <input type="file" class="form-control-file" id="comprobante3" name="comprobante3">
        
        </div>

      </div>
      <div class="formulario__grupo formulario__grupo-btn-enviar">
        <button type="submit" class="formulario__btn">Guardar</button>
        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
      </div>


    </form>






</div>


</nav>