
<div class="menu_usuario1">
  <div class="row">
    <div class="col-md-30 mk-auto">
      <div class="card text-center " style=" background-color: rgb(248, 245, 252)">
         <a href="/usuario1/notificaciones/" class="btn btn-success m-4">Notificaciones <i class="fa-regular fa-envelope"></i></a>
          </a>

          <div class="card-body">
          <h3>{{noti.descripcion}}</h3>
          <h4>{{ user.apellido }}</h4>


          </a>
        </div>
      </div>
    </div>
  </div>
</div>

