<div class="bgded overlay" style="background-image:url('/chillaid/images/demo/backgrounds/fondosc.jpeg');">
<a href="/usuario1/notificaciones/" class="btn btn-success m-4">Notificaciones <i
      class="fas fa-bullhorn"></i></a>
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/usuario1/cuotas/"><h4>Cuotas</h4> </a></li>
            <li><a href="/usuario1/subir"><h3  style="color: aqua;">Transferencias</h3></a></li>
            <li><a href="/usuario1/legajo"><h4>Legajo</h4></a></li>
            <li><a href="/usuario1/cbu"><h4>CBU</h4></a></li>
            <li><a href="/usuario1/pagos"><h4>Pagos</h4></a></li>
    

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<div>

 <p>Nota: cada pago se ubicará en la ultima cuota</p>

<form class="container" novalidate action="/usuario1/realizar" method="POST">
  <div class="form-group">
    <label for="exampleFormControlFile1">Subir comprobante</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1 " name ="comprobante">
  </div>

    
  
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip03">Monto</label>
      <input type="integer" name ="monto" class="form-control" id="validationTooltip03" required>
    
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">CBU de pago </label>
      <select class="custom-select" id="validationTooltip04" required>
          {{#each cbus}}
      
        <option>{{descripcion}}</option>
      
          {{/each}}

      </select>
      <div class="invalid-tooltip">
        Seleccionar CBU
      </div>
    </div>

      </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">Lote </label>
      <select class="custom-select" id="validationTooltip04" required>
        <option selected disabled value="">Seleccionar</option>
        <option>Lote 1</option>
      </select>
      <div class="invalid-tooltip">
        Seleccionar CBU
      </div>
    </div>
    {{!-- <div class="col-md-3 mb-3">
      <label for="validationTooltip05">Zip</label>
      <input type="text" class="form-control" id="validationTooltip05" required>
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div> --}}

  </div>
  <div class="form-row">
    <label for="validationTooltip03">Fecha</label>
     <input type="integer" name ="mes" class="form-control" id="validationTooltip03" placeholder="Mes" style="width : 150px; heigth : 10px" >
     <input type="integer" name ="anio" class="form-control" id="validationTooltip03" placeholder="Año"style="width : 150px; heigth : 10px">

  </div>


  <button class="btn btn-primary" type="submit">Confirmar</button>
</form>