<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fideicomiso</title>

<link rel="icon" href="/img/marcasico.ico">

{{!--
    ULTIMO SACADO   <script src="https://kit.fontawesome.com/e0a370b85f.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    --}}

    <link rel="stylesheet" href="/font/fontawesome-free-6.1.1-web/css/all.min">
    <link rel="stylesheet" href="/bootstrapt/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

 <link href="/chillaid/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all"> 



</head>

<body>

    {{>navigation}}
    {{>message}}
    {{{ body}}}




<!-- JAVASCRIPTS  -->
<script src="/chillaid/layout/scripts/jquery.min.js"></script>
<script src="/chillaid/layout/scripts/jquery.backtotop.js"></script>

<script src="/chillaid/layout/scripts/jquery.mobilemenu.js"></script>
<!-- Homepage specific -->
<script src="/chillaid/layout/scripts/jquery.easypiechart.min.js"></script>
<!-- / Homepage specific -->







  {{!--
    <script src="formulario.js"></script>
  
--}}


    <script src="/bootstrapt/js/jquery-3.6.0.min.js"></script>
    <script src="/bootstrapt/js/bootstrap.min.js"></script>
 


    


</body>

</html>