<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card rext-center">
                <div class="card-body">
                    <div class="card-header">
                        <h3> Registro</h3>
                    </div>
                    <div class="card-body">
                        <form action="/signup" method="POST">
                            <div class="form-group">
                                <input type="text" name="nombrecompleto" placeholder="Nombre Completo" class="form-control" autofocus>
                            </div>
                             <div class="form-group">
                                <input type="text" name="dni" placeholder="Dni"  class="form-control" placeholder="Nombre de usuario"> 
                            </div>
                            <div class="form-group">
                                <input type="text" name="usuario" placeholder="Nombre de uuario"  class="form-control" placeholder="Nombre de usuario">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password"  class="form-control" placeholder="Contraseña">
                            </div>
                            <h6>Nivel de usuario</h6>
                             <div id="Nivel" class="form-group" name="nivel" >
                                 <select id="nivel" name="nivel">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                     <option value="3">3</option>
                                    </select>
                              
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Crear</button>
                            </div>


                        </form>


                    </div>


                </div>

            </div>

        </div>

    </div>



</div>