<div class="submenu">
    <div>
        <div class=>
            <div class="card text-center">
                <div>


                    <div>
                        <a href="/links/clientes" class="btn btn-primary m-4">
                            Ve a clientes
                        </a>
                        <a href="/cuotas" class="btn btn-primary m-4">
                            Ve a cuotas
                        </a>
                        <a href="/pagos" class="btn btn-success m-4">
                            pagos
                        </a>
                        <a class="btn btn-secondary m-4" href="javascript:history.back()">Atras</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br>
{{#each pendiente}}



<div class="card text-center" style="">
  <div class="card-header">
    Featured
  </div>
 
 
 
 
  <div class="card-body">
    <h5 class="card-title"><h3>Rechazar CBU </h3></h5>

    <p class="card-text">


        <form action="/aprobaciones/rechazocbu" method="POST">
    
        <div class="form-group">
            <label for="validationTooltip03">ID</label>
                <input name="id" type="text" class="form-control" id="id" value="{{id}}">   
        </div>

        <div class="form-group">
            <label for="validationTooltip03">Cuil_cuit</label>
            <fieldset disabled>
                <input type="text" name="cuil_cuit" class="form-control" id="cuil_cuit" value="{{cuil_cuit}}">
            </fieldset>
        </div>

        <div  class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Motivo ---- Desplegar</label>
            <select class="form-control" id="asunto">
                <option>Letra no clara</option>
                <option>Datos no coinciden</option>
                <option>Otros</option>
     
            </select>
        </div>
    
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <textarea name="descripcion" class="form-control" id="descripcion" rows="3"></textarea>
    </div>



    <button type="submit" class="formulario__btn">Rechazar</button>
</form>
   </p>

  </div>

{{/each}}
 
  
  
  
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>











